@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: radial-gradient(rgb(245, 241, 241), rgba(255, 215, 107, 0.952));

}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #000;
}
.contact .content p{
    font-weight: 300;
    color: #000;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .cotactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactinfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactinfo .box .icon{
    /*min-width: 60px;
    height: 60px;*/
    margin-bottom: auto;
    margin-top: 8px;
    display:flex;
    justify-content: center;
    align-items: center;
    /*border-radius: 50%;*/
    font-size: 22px;
}

.container .contactinfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    flex-direction: column;
    font-weight: 300;
}
.container .contactinfo .box .text h3{
    font-weight: 500;
    color: #0a1058;
}
.contactform{
    width: 40%;
    padding: 40px;
    background: rgb(255, 255, 255);
    margin-left: 250px;
    border-radius: 15px;
}
.contactform .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactform .inputbox input,
.contactform .inputbox textarea{
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid rgb(12, 12, 12);
    outline: none;
    resize: none;
}
.contactform .inputbox span{
    position: absolute;
    left: 0;
    padding: 0;
    font-size: 16px;
    margin: 10px;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span,
.contactform .inputbox textarea:focus ~span,
.contactform .inputbox textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.inputbox .btn{
    text-align: center;
    background: #1039f3;
    padding: 10 10;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    box-shadow: #666;
}
.inputbox .btn:hover{
    background: #1098f3;
    animation:mymove 0.8s linear;
}
.inputbox .btn:active {
    background-color: #1098f3;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

@media (max-width: 991px){
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactinfo{
        margin-bottom: 40px;
    }
    .container .contactinfo,
    .contactform
    {
        width: 100%;
    }
}




