@import url('https//fonts.googleapis.com/');
body{
    font-family: 'Roboto' sans-serif;
}
*{
    margin: 0;
    padding: none;
    list-style: none;
    text-decoration: none;
}
.sidemenu{
    position:fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: rgb(28, 28, 114);

}
.sidemenu header{
    font-size: 22px;
    color: beige;
    text-align: center;
    line-height: 70px;
    background: rgb(58, 89, 190);
    user-select: none;
}
.sidemenu ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: none;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255,.1);
    border-bottom: 1px solid black;
    transition: .4s;
}
ul li:hover a{
    padding-left: 70px;
}
.sidemenu ul i{
    margin-right: 16px;
}
#check{
    display: none;
}
label #btn,label #cancel{
    position: absolute;
    cursor: pointer;
    background: #042331;
    border-radius: 3px;
}
label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
}
label #cancel{
    z-index: 111;
    left: -195px;
    top: 17;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all .5s;
}
#check:checked ~ .sidemenu{
    left: 0;
}
#check:checked ~ label #btn{
    left: 250px; 
    opacity: #555;
    pointer-events: none;
}
#check:checked ~ label #cancel{
    left: 195px;

}
section{
    background: url(cars/lexus/adam-niescioruk-a-TPszqgbrM-unsplash.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all .5s;
}
#check:checked ~ section{
    margin-left: 250px;
}